@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62%;
}

.container{
  max-width: 130rem;
  margin: 0 auto;
  padding: 7rem 2rem;
}

.grid{
  display: grid;
  gap: 9rem;
}

.grid-row{
  grid-template-rows: repeat(3,1fr);
}

.grid-3-columns{
  grid-template-columns: repeat(3,1fr);
  
}